<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ifhu.meiwei">

    <uses-permission android:name="android.permission.CAMERA" /> <!-- 允许程序连接到已配对的蓝牙设备 -->
    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 用于获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 用于访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 用于写入缓存数据到扩展存储卡 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" /> <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /><!--判断网络连接是否可用及监控网络状态-->


    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ui.activity.me.MyAddressListActivity" />
        <activity
            android:name=".ui.activity.home.MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.login.LoginActivity" />
        <activity android:name=".ui.activity.login.PasswordActivity" />
        <activity android:name=".ui.activity.login.SetpasswordActivity" />
        <activity android:name=".ui.activity.home.ShippingAddressActivity" />
        <activity android:name=".ui.activity.home.AddaddressActivity" />
        <activity android:name=".ui.activity.home.EditaddressActivity" />
        <activity android:name=".ui.activity.home.ShopHomeActivity" />
        <activity android:name=".ui.activity.order.OrdertrackingActivity" />
        <activity android:name=".ui.activity.order.EvaluationActivity" />
        <activity android:name=".ui.activity.order.EvaluationSuccessActivity" />
        <!--我的-->
        <activity android:name=".ui.activity.me.MyAskActivity" />
        <activity android:name=".ui.activity.me.MyCollectActivity" />
        <activity android:name=".ui.activity.me.MyDiliverJoinActivity" />
        <activity android:name=".ui.activity.me.MyHelpActivity" />
        <activity android:name=".ui.activity.me.MyReviewActivity" />
        <activity android:name=".ui.activity.me.MySettingsActivity" />
        <activity android:name=".ui.activity.me.MyShopJoinActivity" />
        <activity android:name=".ui.activity.me.MyVoucherActivity" />
        <activity android:name=".ui.base.WebViewActivity" />
        <activity android:name=".ui.activity.home.ConfirmOrderActivity" />
        <activity android:name="com.yalantis.ucrop.UCropActivity" />

        <service android:name="com.amap.api.location.APSService" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="61e1cc9209040a90b23dbf3bd91f0980"></meta-data>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.ifhu.meiwei.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths_public" />
        </provider>

        <activity android:name=".ui.activity.order.ConfirmPaymentActivity" />

        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:label="微信支付结果"
            android:screenOrientation="portrait" />
    </application>

</manifest>